body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
}

h1{
    font-size: 4rem;
    color: #FFF;
    margin: .3rem;
}

span{
    color: #FFF;
    font-size: 1.3rem;
}